body{
  margin: 0;
  width: 100%;
  height: 100%;
}

.container{
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
}

.sidebar{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  background-color: #213A16;
  color: #C2D3BB;
  width: 30%;
  padding: 0 .5em 3em .5em;
}

.title{
  font-size: 2.5em;
  color: #C2D3BB;
}

.subtitle{
  color: #C2D3BB;
}

.rules{
  line-height: 1.5em;
  text-align: center;
  font-size: .7em;
  color: #9B6F77;
  padding: .5em;
  border: 3px solid black;
}


h3 strong:hover{
  text-decoration: underline;
}


.winnerboard{
  border: 1px solid black;
  text-align: center;
}

table{
  width: 100%;
}

tr, td{
  border: 1px solid black;
}

#name:hover{
  border: 3px solid black;
}

input{
  font-size: 1em;
}


.main{
  display: block;
  background-color: #728E66;
  width: 70%;
  padding: 1em;
  color: #213A16;
}

.levels{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
}

.start{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
  margin: auto .2em;
  width: 20em;
  height: 3em;
}

.start:hover{
  background-color: #E6CCD1;
}

.interface{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hideinterface{
  display: none;
}

.interface h2{
  border-radius: 15px;
  width: 15em;
  margin: 0;
  padding: .5em;
}

.interface span{
  color: #5C2C35;
}


.artistContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

.targetArtistContainer,
.currentArtistContainer{
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 15px;
  width: auto;
  max-width: 31em;
}

.artistContainer h2{
  border-right: 2px solid black;
}

.artistContainer img {
  border-radius: 15px;
  width: 13em;
  height: 16em;
}

.genreContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.genreContainer h2{
  border: 2px solid black;
  width: auto;
  max-width: 20em;
}

.flashWin{
  display: none;
  text-align: center;
}



.artists{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.artists li{
  list-style-type: none;
  display: block;
  margin: 1em;
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  font-size: 1.1em;
  padding: .5em;
}

.artists li:hover{
  color: #E6CCD1;
}


.selected{
  font-weight: bold;
}
